<footer class="bg-primary text-light py-2">
  <div class="container">
    <div class="row g-4 pt-4">
      <div class="col-md-6">
        <img
          src="./assets/img/logo-name.png"
          alt="Kürvers Piping"
          class="img-fluid"
          width="18%"
        />
        <p class="mt-2 pe-4 me-4 text-sm-85">
          Kürvers is a global leader in the procurement of materials for complex
          pipeline projects in petrochemical and energy sectors. Our extensive
          experience, industry expertise, and long-standing partnerships ensure
          unmatched reliability and delivery.
        </p>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled text-sm-95">
          <li><a class="fw-light" href="index.html">&raquo; Home</a></li>
          <li>
            <a class="mt-1 fw-light" href="about.html">&raquo; About Us</a>
          </li>
          <li>
            <a class="mt-1 fw-light" href="turnkey-solutions.html"
              >&raquo; Turnkey Solutions</a
            >
          </li>
          <li>
            <a class="mt-1 fw-light" href="product-range.html"
              >&raquo; Product Range</a
            >
          </li>
          <li>
            <a class="mt-1 fw-light" href="careers.html">&raquo; Careers</a>
          </li>
          <li>
            <a class="mt-1 fw-light" href="contact.html">&raquo; Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled text-sm-85">
          <li class="fw-light">
            <span class="fw-bold">Central Tel. No.:</span> 0049 211 95 95 95 0
          </li>
          <li class="fw-light">
            <span class="fw-bold">Central Fax No.:</span> 0049 211 95 95 95 66
          </li>
          <li class="fw-light">
            <span class="fw-bold">Mail:</span> germany@kurvers.com
          </li>
        </ul>
        <address class="fw-semibold text-sm-85">
          Horst Kürvers GmbH<br />
          Willstätterstraße 30<br />
          40549 Düsseldorf<br />
          Germany
        </address>
      </div>
    </div>
    <hr style="border: none; height: 2px; background-color: white" />
    <div class="row text-sm-85">
      <div class="col-md-6 text-start">
        <p>Copyright &copy; 2024 Kürvers | Website by Strategy Kings</p>
      </div>
      <div
        class="col-md-6 d-flex justify-content-center justify-content-md-end align-items-start"
      >
        <div class="d-flex align-items-center">
          <span class="me-2">Follow us on social media:</span>
          <a
            href="#"
            class="social-icon rounded-circle bg-white text-primary d-flex align-items-center justify-content-center me-2"
            style="width: 30px; height: 30px"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
            href="#"
            class="social-icon rounded-circle bg-white text-primary d-flex align-items-center justify-content-center"
            style="width: 30px; height: 30px"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <a
    href="#"
    class="scroll-top d-flex align-items-center justify-content-center bg-primary"
    ><i class="bi bi-arrow-up-short"></i
  ></a>
</footer>
