<header id="header" class="header d-flex align-items-center">
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <a href="index.html" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img src="assets/img/logo.png" alt="" />
      <!-- <h1>UpConstruction<span>.</span></h1> -->
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list text-primary"></i>
    <i
      class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x text-secondary"
    ></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="turnkey-solutions.html">Turnkey solutions</a></li>
        <li><a href="product-range.html">product range</a></li>
        <li><a href="careers.html">careers</a></li>

        <li><a href="contact.html">Contact us</a></li>
      </ul>
    </nav>
    <!-- .navbar -->
  </div>
</header>
